In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df=pd.read_excel(r'C:\Users\SIREESHA\Downloads\anaconda\lung cancer.xlsx')
df

,GENDER,AGE,SMOKING,ANXIETY,FATIGUE,ALCOHOL CONSUMING,COUGHING,SHORTNESS OF BREATH,CHEST PAIN,LUNG_CANCER
0,M,69,1,2,2,2,2,2,2,YES
1,M,74,2,1,2,1,1,2,2,YES
2,F,59,1,1,2,1,2,2,2,NO
3,M,63,2,2,1,2,1,1,2,NO
4,F,63,1,1,1,1,2,2,1,NO
...,...,...,...,...,...,...,...,...,...,...
1727,F,32,1,1,2,1,2,2,1,NO
1728,M,31,1,1,2,1,2,2,1,NO
1729,F,32,1,1,2,1,2,2,1,NO
1730,M,0,2,1,2,2,2,2,1,NO
1731,F,0,2,1,2,2,2,2,1,NO

In [3]:
df.corr()

,AGE,SMOKING,ANXIETY,FATIGUE,ALCOHOL CONSUMING,COUGHING,SHORTNESS OF BREATH,CHEST PAIN
AGE,1.000000,0.195585,0.248538,0.123151,0.267064,0.159161,0.091889,0.239509
SMOKING,0.195585,1.000000,0.221997,0.009894,0.046017,-0.096320,0.091209,0.197480
ANXIETY,0.248538,0.221997,1.000000,-0.135781,-0.072993,-0.193688,-0.102010,-0.027699
FATIGUE,0.123151,0.009894,-0.135781,1.000000,-0.125772,0.223714,0.489705,0.025536
ALCOHOL CONSUMING,0.267064,0.046017,-0.072993,-0.125772,1.000000,0.210590,-0.134269,0.393239
COUGHING,0.159161,-0.096320,-0.193688,0.223714,0.210590,1.000000,0.330942,0.102043
SHORTNESS OF BREATH,0.091889,0.091209,-0.102010,0.489705,-0.134269,0.330942,1.000000,0.053008
CHEST PAIN,0.239509,0.197480,-0.027699,0.025536,0.393239,0.102043,0.053008,1.000000

In [7]:
#checking for missing values
df.isnull()

,GENDER,AGE,SMOKING,ANXIETY,FATIGUE,ALCOHOL CONSUMING,COUGHING,SHORTNESS OF BREATH,CHEST PAIN,LUNG_CANCER
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
1727,False,False,False,False,False,False,False,False,False,False
1728,False,False,False,False,False,False,False,False,False,False
1729,False,False,False,False,False,False,False,False,False,False
1730,False,False,False,False,False,False,False,False,False,False
1731,False,False,False,False,False,False,False,False,False,False

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1732 entries, 0 to 1731
Data columns (total 10 columns):
GENDER                 1732 non-null object
AGE                    1732 non-null int64
SMOKING                1732 non-null int64
ANXIETY                1732 non-null int64
FATIGUE                1732 non-null int64
ALCOHOL CONSUMING      1732 non-null int64
COUGHING               1732 non-null int64
SHORTNESS OF BREATH    1732 non-null int64
CHEST PAIN             1732 non-null int64
LUNG_CANCER            1732 non-null object
dtypes: int64(8), object(2)
memory usage: 135.4+ KB

In [9]:
df["GENDER"].value_counts()

M    905
F    827
Name: GENDER, dtype: int64

In [10]:
df["GENDER"].isnull().sum()

0

In [11]:
df.dropna(axis=0,how="any")

,GENDER,AGE,SMOKING,ANXIETY,FATIGUE,ALCOHOL CONSUMING,COUGHING,SHORTNESS OF BREATH,CHEST PAIN,LUNG_CANCER
0,M,69,1,2,2,2,2,2,2,YES
1,M,74,2,1,2,1,1,2,2,YES
2,F,59,1,1,2,1,2,2,2,NO
3,M,63,2,2,1,2,1,1,2,NO
4,F,63,1,1,1,1,2,2,1,NO
...,...,...,...,...,...,...,...,...,...,...
1727,F,32,1,1,2,1,2,2,1,NO
1728,M,31,1,1,2,1,2,2,1,NO
1729,F,32,1,1,2,1,2,2,1,NO
1730,M,0,2,1,2,2,2,2,1,NO
1731,F,0,2,1,2,2,2,2,1,NO

In [12]:
#Label encoder
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()
df['GENDER'] =encoder.fit_transform(df['GENDER'])
df['LUNG_CANCER'] =encoder.fit_transform(df['LUNG_CANCER'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1732 entries, 0 to 1731
Data columns (total 10 columns):
GENDER                 1732 non-null int32
AGE                    1732 non-null int64
SMOKING                1732 non-null int64
ANXIETY                1732 non-null int64
FATIGUE                1732 non-null int64
ALCOHOL CONSUMING      1732 non-null int64
COUGHING               1732 non-null int64
SHORTNESS OF BREATH    1732 non-null int64
CHEST PAIN             1732 non-null int64
LUNG_CANCER            1732 non-null int32
dtypes: int32(2), int64(8)
memory usage: 121.9 KB

In [13]:
x=df.drop(["LUNG_CANCER"],axis=1)

In [14]:
y=df["LUNG_CANCER"]

In [15]:
x=x.values
y=y.values

In [16]:
x,y

(array([[ 1, 69,  1, ...,  2,  2,  2],
        [ 1, 74,  2, ...,  1,  2,  2],
        [ 0, 59,  1, ...,  2,  2,  2],
        ...,
        [ 0, 32,  1, ...,  2,  2,  1],
        [ 1,  0,  2, ...,  2,  2,  1],
        [ 0,  0,  2, ...,  2,  2,  1]], dtype=int64),
 array([1, 1, 0, ..., 0, 0, 0]))

In [17]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import f1_score,precision_score,recall_score,accuracy_score

In [18]:
X_train,X_test,y_train,y_test= train_test_split(x,y,test_size= 0.2,random_state=42)

In [19]:
from sklearn.svm import SVC
svn=SVC()
svn.fit(X_train,y_train)

C:\Users\SIREESHA\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='rbf', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

In [20]:
predictions=svn.predict(X_test)

In [21]:
from sklearn.metrics import classification_report
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.78      0.50      0.61       100
           1       0.82      0.94      0.88       247

    accuracy                           0.82       347
   macro avg       0.80      0.72      0.74       347
weighted avg       0.81      0.82      0.80       347

In [32]:
a1=float(input("Enter the Gender:"))
a2=float(input("Enter the age:"))
if a2<=0:
    print("the preson doesn't exist")
else:
    a3=float(input("Enter smoking:"))
    a4=float(input("Enter if the person have fatigue:"))
    a5=float(input("Enter anxiety:"))
    a6=float(input("Enter alcohol cunsuming rate:"))
    a7=float(input("Enter if the person have coughing"))
    a8=float(input("Enter shortness rate of breath:"))
    a9=float(input("Enter if the person have chest pain:"))

data=[[a1,a2,a3,a4,a5,a6,a7,a8,a9]]
prediction=svn.predict(data)
j=0
for i in range(0,8):
    if data[0][i]<0:
        print("Negative values not accepting")
        break
    else:
        j=j+1
if j==8:
    prediction=svn.predict(data)
    print("Prediction of Species:{}".format(prediction))

Enter the Gender:1
Enter the age:56
Enter smoking:1
Enter if the person have fatigue:2
Enter anxiety:2
Enter alcohol cunsuming rate:2
Enter if the person have coughing2
Enter shortness rate of breath:2
Enter if the person have chest pain:2
Prediction of Species:[1]

In [39]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,predictions)

0.8155619596541787